<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="row ml-1">
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        class="custom-control-input"
        value="male"
        id="male"
        formControlName="gender"
      />
      <label class="custom-control-label" for="male">male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        class="custom-control-input"
        value="female"
        id="female"
        formControlName="gender"
      />
      <label class="custom-control-label" for="female">female</label>
    </div>
  </div>
  <br />
  <!--   <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">Female
      </label>
    </div> -->
  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Please Choose a suer Name</div>
  </div>
  <div class="form-group">
    <label
      for="password"
      [ngClass]="registerForm.controls['password'].invalid ? 'text-danger' : ''"
      >Password:</label
    >
    <input
      id="password"
      formControlName="password"
      type="password"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
    />
    <!-- <label class="text-danger col" *ngIf="registerForm.controls['password'].hasError('required')">
      Password is Required!
    </label> -->
    <div class="invalid-feedback">
      <label
        class="col "
        [ngClass]="
          registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('minlength')
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i
          [ngClass]="
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('minlength')
              ? 'fa fa-times'
              : 'fa fa-check-circle'
          "
        ></i>
        Must be at least 8 characters!
      </label>
      <label
        class="col"
        [ngClass]="
          registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasNumber')
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i
          [ngClass]="
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('hasNumber')
              ? 'fa fa-times'
              : 'fa fa-check-circle'
          "
        >
        </i>
        Must contain at least 1 number!
      </label>
      <label
        class="col"
        [ngClass]="
          registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasCapitalCase')
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i
          [ngClass]="
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('hasCapitalCase')
              ? 'fa fa-times'
              : 'fa fa-check-circle'
          "
        ></i>
        Must contain at least 1 in Capital Case!
      </label>
      <label
        class="col"
        [ngClass]="
          registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasSmallCase')
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i
          [ngClass]="
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('hasSmallCase')
              ? 'fa fa-times'
              : 'fa fa-check-circle'
          "
        ></i>
        Must contain at least 1 Letter in Small Case!
      </label>
      <label
        class="col"
        [ngClass]="
          registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasSpecialCharacters')
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i
          [ngClass]="
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('hasSpecialCharacters')
              ? 'fa fa-times'
              : 'fa fa-check-circle'
          "
        ></i>
        Must contain at least 1 Special Character!
      </label>
    </div>
  </div>
  <div class="form-group">
    <label
      for="confirmPassword"
      [ngClass]="
        registerForm.controls['confirmPassword'].invalid ? 'text-danger' : ''
      "
      >Confirm Password:</label
    >
    <input
      id="confirmPassword"
      formControlName="confirmPassword"
      type="password"
      class="form-control"
      [ngClass]="
        registerForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''
      "
    />
    <div class="invalid-feedback">
      <label
        class="text-danger"
        *ngIf="registerForm.controls['confirmPassword'].hasError('required')"
      >
        Password is Required!
      </label>
      <label
        class="text-danger"
        *ngIf="
          registerForm.controls['confirmPassword'].hasError('NoPassswordMatch')
        "
      >
        Password do not match
      </label>
    </div>
  </div>
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('knownAs')?.errors &&
          registerForm.get('knownAs').touched
      }"
      class="form-control"
      placeholder="Known as"
      formControlName="knownAs"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('knownAs')?.touched &&
        registerForm.get('knownAs')?.hasError('required')
      "
    >
      Known as is required
    </div>
  </div>
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Date of Birth"
      formControlName="dateOfBirth"
      placeholder="Date Of Birth"
      bsDatepicker
      [bsConfig]="bsConfigs"
      type="text"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateOfBirth').touched &&
        registerForm.get('dateOfBirth').hasError('required')
      "
    >
      Date of Birth is required
    </div>
  </div>
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('city').errors && registerForm.get('city').touched
      }"
      class="form-control"
      placeholder="City"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('city').touched &&
        registerForm.get('city').hasError('required')
      "
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('country').errors &&
          registerForm.get('country').touched
      }"
      class="form-control"
      placeholder="Country"
      formControlName="country"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('country').touched &&
        registerForm.get('country').hasError('required')
      "
    >
      Country is required
    </div>
  </div>

  <div class="form-group text-center">
    <button
      [disabled]="registerForm.invalid"
      type="submit"
      class="btn btn-success mr-1 font-weight-bold"
      
    >
      Sign up
    </button>
    <button class="btn btn-danger" type="button" (click)="calcel()">
      Cancel
    </button>
  </div>
</form>
